.navbar-brand .navbar-logo svg {
    width: 30px;
    margin-top: -5px;
}

// force override the fill color of the dot of the i to be the same as the top bar (primary) color
// TODO: come up with a better solution for this
.navbar-logo svg ellipse {
    fill: $primary !important;
}

.-bg-dark {
    background-color: hsl(0, 0, 15%);
}

.td-overlay--dark::after {
    background-color: hsla(0, 0, 0, 0.3);
}

.td-navbar .nav-link {
    color: white;
    font-weight: 500;
    text-shadow: none;
}

.td-navbar .nav-link:hover {
    color: hsl(0, 0%, 80%);
}

.display-1,
.lead {
    font-weight: 400;
}

.repositories-section-index-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 60vh;
}

.repositories-section-index-list div.entry {
    margin: 5px 0;
}
